# Excel de la actividad de acogida
Acogida - Plantilla Información.xlsx
Planificación cuatrimestral.xlsm
Plantilla - Planificación cuatrimestral.xlsm

# Vídeos de las clases
*.mp4

# Psicología Social - Material adicional
1-psicologia-social/Apuntes social. Samuel G/*
1-psicologia-social/Material tutorías/*



