# Excel de la actividad de acogida
Acogida - Plantilla Información.xlsx

# Apuntes de Psicología Social, de Samuel Gil - No los incluyo en el repo porque no son míos
1-psicologia-social/Apuntes social. Samuel G/*
